:root{
    --gradient:linear-gradient(90deg, #0f71f1, #0818f6);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: #0f71f1;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.5rem;
}

html::-webkit-scrollbar-track{
    background: #333;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient( #0f71f1, #0818f6);
}

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding: top 6rem;;
}

.btn{
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .2s linear;
    left: 120%;
}
.heading{
    color: #444;
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

 header .navbar ul li{
     margin:0 1rem;
     text-decoration: none;
}

 header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #444;
    text-decoration: none;
}

header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url(../images/home.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}


@keyframes animate {

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}

  
.home .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
.home .content:hover .content-overlay{
    opacity: 1;
  }

  
.home .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
.home .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
.home .content-details h3{
    color: #fff;
    font-size: 6rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  
.home .content-details p{
    color: #fff;
    font-size: 2rem;
  }
  
  
.fadeIn-top{
    top: 20%;
  }

.about{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
background:url(../images/about2.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
position: relative;
text-align: center;
margin: 25px;
}

.about .image{
flex: 1 1 40rem;
}

.about .image img{
height: 65vh;
width: 100%;
}

.about .content{
flex: 1 1 40rem;
}

.about .content h3{
font-size: 5rem;
color: #fff;    
}

.about .content p{
font-size: 1.5rem;
color: #111;
padding:1rem 0;
}


.contact{
    background: #111;
}

.contact .heading{
    color: #fff;
}

.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row form{
    flex:1 1 50rem;
    background: #222;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row form .box{
    height: auto;
    width:49%;
    border:.1rem solid #eee;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background:none;
    text-transform: none;
}

.contact .row form .box:focus{
    border-color: #0f71f1;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .address{
    height:15rem;
    padding:1rem;
    resize: none;
    width:100%;
}

.contact .row form .btn:hover{
    background: #fff;
    color: #333;
}

.contact .row .image img{
    height: 80vh;
    margin-top: 2rem;

}

.view .container .acc_holder {
    border-collapse: collapse;
    width: 100%;
}
  
.view .container .acc_holder td, .view .container .acc_holder th {
    border: 5px solid #ddd;
    padding: 25px;
    font-size: medium;
}
  
.view .container .acc_holder tr:nth-child(even){background-color: #f2f2f2;}
  
.view .container .acc_holder tr:hover {background-color: #ddd;}
  
.view .container .acc_holder th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: large;
    background-color: #fff;
    color: #666;
}

.transaction{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:url(../images/transaction.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.transaction .bt1{
    margin-right: 100px;
}




.footer{
    background: #333;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color: #eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color: #0f71f1;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color: #eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color: #fff;
    background: #111;
    text-align: center;
    font-weight: normal;
}
.footer .credit a{
    color: #0f71f1;
}

@media (max-width:768px){

    html{
        font-size: 55%;
    }
    

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width: 100%;
        background: #444;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color: #0818f6;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }

    .home h1{
        font-size: 4rem;
    }

    .home p{
        width: auto;
    }

    .teacher p{
        width: auto;
    }

    .contact .row .image{
        display: none;
    }

}   







@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .teacher p{
        width: auto;
    }
    .contact .row form .box{
        width: 100%;
    }

}
